@if(productD){
  <div class="container mx-auto my-6">

    <div class="row items-center ">
      <div class="md:w-3/12 p-3">
        <img [src]="productD.imageCover" class="w-full" alt="">
      </div>
      <div class="md:w-9/12">
        <h1 class="text-lg font-medium">{{productD.title}}</h1>
        <p class="text-sm text-gray-400 my-4">{{productD.description}}</p>
        <span class="text-xs">{{productD.category.name}}</span>
        <div class="row justify-between my-3">
          <span>{{productD.price}}EGP</span>
          <span>{{productD.ratingsAverage}} <i class="fa fa-star rating-color"></i></span>
        </div>
        <button class="btn-main w-full cursor-pointer"><i class="fa fa-cart-plus"></i></button>

      </div>
    </div>

  </div>
}


