<div class="w-3/4 mx-auto my-10">



  @if(errMsg){

    <div class="alert-danger">
      <p class="p-1 m-0"> {{errMsg}} </p>
    </div>

  }

  @if (emailFlage) {
    <h2 class="text-xl font-medium my-3">Email Confirm : </h2>

    <form (ngSubmit)="submitEmail()" [formGroup]="emailForm">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="">Email : </label>
      <input formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        type="email">
      @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
      <div class="m-0 p-0 alert-danger">
        @if (emailForm.get('email')?.errors?.['required']) {
        <p class="p-1 m-0">email is required</p>
        }
        @else if (emailForm.get('email')?.errors?.['email']) {
        <p class="p-1 m-0">email is not valid</p>
        }
      </div>
      }

      <button [disabled]="emailForm.invalid" type="submit"
        class="text-white bg-main hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 block ms-auto my-4 ">
        @if (isLoading) {
        <span><i class="fa fa-spin fa-spinner"></i></span>
        }
        @else {
        <span>Send Email</span>
        }

      </button>
    </form>
  }


  <!-- ====================code form ======= -->

  @if (codeFlage) {
    <h2 class="text-xl font-medium my-3">Code Confirm : </h2>

    <form (ngSubmit)="submitcode()" [formGroup]="codeForm">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="">Code : </label>
      <input formControlName="resetCode"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        type="text">
      @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
      <div class="m-0 p-0 alert-danger">
        @if (codeForm.get('resetCode')?.errors?.['required']) {
        <p class="p-1 m-0">resetCode is required</p>
        }
        @else if (codeForm.get('resetCode')?.errors?.['pattern']) {
        <p class="p-1 m-0">resetCode is not valid</p>
        }
      </div>
      }

      <button [disabled]="codeForm.invalid" type="submit"
        class="text-white bg-main hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 block ms-auto my-4 ">
        @if (isLoading) {
        <span><i class="fa fa-spin fa-spinner"></i></span>
        }
        @else {
        <span>Send Code</span>
        }

      </button>
    </form>
  }

  <!-- ================  newpassword  ===== -->

  @if (resetFlage) {
    <h2 class="text-xl font-medium my-3">new Password : </h2>

    <form (ngSubmit)="submitNewpassword()" [formGroup]="newPasswordForm">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="">Email : </label>
      <input formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        type="email">
      @if (newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched) {
      <div class="m-0 p-0 alert-danger">
        @if (newPasswordForm.get('email')?.errors?.['required']) {
        <p class="p-1 m-0">email is required</p>
        }
        @else if (newPasswordForm.get('email')?.errors?.['email']) {
        <p class="p-1 m-0">email is not valid</p>
        }
      </div>
      }

      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="">newPassword : </label>
      <input formControlName="newPassword"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        type="password">
      @if (newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched) {
      <div class="m-0 p-0 alert-danger">
        @if (newPasswordForm.get('newPassword')?.errors?.['required']) {
        <p class="p-1 m-0">newPassword is required</p>
        }
        @else if (newPasswordForm.get('newPassword')?.errors?.['pattern']) {
        <p class="p-1 m-0">newPassword is not valid</p>
        }
      </div>
      }

      <button [disabled]="newPasswordForm.invalid" type="submit"
        class="text-white bg-main hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 block ms-auto my-4 ">
        @if (isLoading) {
        <span><i class="fa fa-spin fa-spinner"></i></span>
        }
        @else {
        <span>Confirm Password</span>
        }

      </button>
    </form>
  }






</div>
